.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImage {
  width: 500px;
  height: 500px;
  border: 1px solid #ddd;
  margin: 0 10px;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 160px;
  height: 160px;
  opacity: 0.6;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.thumbnail:hover,
.thumbnail.active {
  opacity: 1;
  border-color: #007bff;
}
@media only screen and (max-width: 1505px){
.mainImage{
  width: 450px;
  height: 450px;
}
.thumbnail{
  width: 143px;
  height: 143px;
}

}
@media only screen and (max-width: 1265px){
.mainImage{
  width: 400px;
  height: 400px;
}
.thumbnail{
  width: 126px;
  height: 126px;
}

}
@media only screen and (max-width: 1112px){
.mainImage{
  width: 600px;
  height: 600px;
}
.thumbnail{
  width: 193px;
  height: 193px;
}

}
@media only screen and (max-width: 845px){
.mainImage{
  width: 500px;
  height: 500px;
}
.thumbnail{
  width: 157px;
  height: 157px;
}

}
@media only screen and (max-width: 715px){
.mainImage{
  width: 400px;
  height: 400px;
}
.thumbnail{
  display: none;
}

}
@media only screen and (max-width: 590px){
.mainImage{
  width: 350px;
  height: 350px;
}


}
@media only screen and (max-width: 530px){
.mainImage{
  width: 300px;
  height: 300px;
}


}
@media only screen and (max-width: 470px){
.mainImage{
  width: 250px;
  height: 300px;
}


}
@media only screen and (max-width: 407px){
.mainImage{
  width: 200px;
  height: 250px;
}


}