.container{
    width: 80%;
    margin: auto; 
    
}

.flex{
    display: flex;
    gap: 150px;
    margin-top: 88px;
    justify-content: center;

    
}
.name{
    color: rgba(102, 102, 102, 1);
    font-size: 33px;
    font-weight: 400;

}
.price{
    font-size: 58px ;
    color: rgba(102, 102, 102, 1);
    font-weight: 700;
    margin: 0;
}

.smallInfo{
    color: rgba(102, 102, 102, 1);
}
.count{
    color: rgba(102, 102, 102, 1);
    font-size: 33px;
}
.smallDiv{
    margin-top: 12px;
    margin-bottom: 86px;

}
.market{
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    font-weight: 600;
    margin-top: 87px;
    margin-left: 45px;
}
.add{
    width: 195px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 56px;
}
.otherProduct{
    font-size: 30px;
    font-weight: 600;
    color: rgba(102, 102, 102, 1);
    text-transform: uppercase;
    
}
.cardsDiv{
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: auto;
    
}
.containerTwo{
    width: 80%;
    margin: auto;
}
.shereDiv{
    display: flex;
    align-items: center;
    
}
.shere{
    color: rgba(102, 102, 102, 1);
    font-size: 22px;
    font-weight: 400;
    
}
.starshere{
    display: flex;
    align-items: center;
    gap: 114px;
}
@media only screen and (max-width: 1545px){
.flex{
    gap: 50px;

}
.name{
    font-size: 30px;
}
.price{
    font-size: 50px;
}
.add{
    margin-top: 75px;
}
}
@media only screen and (max-width: 1505px){
    .name{
        margin: 0;
    }
}
@media only screen and (max-width: 1302px){
.flex{
    gap: 15px;

}
.name{
    font-size: 27px;
}
.price{
    font-size: 45px;
}
.add{
    margin-top: 80px;
}
.count{
    font-size: 30px;
}
}
@media only screen and (max-width: 1112px){
.flex{
    gap: 15px;
    flex-direction: column-reverse;
    margin-top: 0;

}
.starshere{
    gap: 0;
    justify-content: space-between;
}
.market{
    margin-top: 20px;
    margin-left: 0;
}

.smallDiv{
    display: none;
}
.add{
    display: none;
}
.count{
    display: none;
}
.countDiv{
    display: none;
}
}
@media only screen and (max-width: 480px){
.name{
    font-size: 22px;
}
.price{
    font-size: 40px;
}

}
@media only screen and (max-width: 1900px){
    .containerTwo{
        width: 90%;
    }
}