.container{
    width: 95%;
    margin: auto;
}
.sectionOne{
margin-top: 110px;
margin-bottom: 60px;
}
.shoping{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.basketImg{
    width: 220px;
    height: 220px;
    border: 1px solid;
    border-radius: 4px ;
    border-color: rgba(196, 196, 196, 1);
}
.soloDiv{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(196, 196, 196, 1) ;
    padding-bottom: 20px;
    gap: 70px;
}
.basketTitle{
    color: rgba(102, 102, 102, 1);
    max-width: 320px;
    font-size: 20px;
}
.basketPrice{
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
}
.delete{
    cursor: pointer;
}
.cardsList{
    max-height: 750px;
    overflow: auto;
    scrollbar-width: none;       
    
}
.order{
    width: 500px;
    height: 900px;
    background-color: rgba(8, 174, 226, 0.13);
}
.yourOrder{
    font-size: 37px;
    color: rgba(102, 102, 102, 1);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.orderInfo{
    font-size: 26px;
    color: rgba(102, 102, 102, 1);
}
.orderFinish{
    color: rgba(102, 102, 102, 1);
    font-size: 37px;
}
.line{
    border: 1px solid rgba(8, 174, 226, 0.13);
    width: 80%;
    margin: auto;
}
.divOne{
    
    margin: auto;
    margin-bottom: 145px;
    width: 80%;
}
.divTwo{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.take{
    max-width: 650px;
    color: rgba(102, 102, 102, 1);
    font-size: 24px;
    text-transform: uppercase;
}
.ticket{
    max-width: 509px;
    font-size: 12px;
    color: rgba(102, 102, 102, 1);

}
.last{
    width: 80%;
    margin: auto;
}
@media only screen and (max-width: 1735px){
    .add{
        display: none;
    }
    .shoping{
        justify-content: space-around;
    }
}
